/* TABLET */
@media screen and (min-width: 560px) and (max-width: 1023px) {

	.lede-text-overlay-parallax {
		min-height: 400px;

		.lede-content {
			width: 90%;
			margin: 15% auto;
		}
	}

	.lede-text-under {
		.lede-content {
			margin: 30px auto;
			padding: 0 20px;
		}
	}

	.lede-full-width-img {
		.lede-img {
			min-height: 0;
		}

		.lede-content {
			width: 90%;
			margin: 30px auto;
			position: relative;
		}
	}

	.lede-contained-img {
		min-height: 400px;

		.lede-content { 
			max-width: 100%;

			h1 {
				font-size: 5rem;
			}

			.dek {
				margin-left: 0;
			}
		}
	}

	h1 {
		font-size: 3rem;
	}

	.dek {
		font-size: 2rem;
		margin-bottom: 1.75rem;
	}

	.subhed {
		font-size: 0.9rem;
	}

	p {
		// width: 90%;
		max-width: initial;
		font-size: 0.9em;
	}

	.video-js, .video iframe {
		min-width: 1023px;
		min-height: 511px;
	}

	.img_left, .img_right {
		float: none;
		max-width: 500px;
		margin: 0.5rem auto;
	}

}

@media screen and (min-width: 560px) and (max-width: 767px) {
	header, p, .pullquotes {
		width: 90%;
		max-width: 100%;
	}
	
	.video-js, .video iframe {
		min-width: 480px;
		min-height: 270px;
	}

	.img_right, .img_left {
		float: none;
		margin: 0 auto 1rem;
		width: 90%;
	}


	#main ul {
		width: 40%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	header, p, .pullquotes {
		width: 80%;
		max-width: 100%;
	}

	.video-js, .video iframe {
		min-width: 730px;
		min-height: 411px;
	}

	.img_right, .img_left {
		width: 30rem;
	}

	#main ul {
		width: 30%;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.video-js, .video iframe {
		min-width: 1024px;
		min-height: 576px;
	}
}