/*-- BODY COPY STYLES -- */

/*-- CENTERED COLUMN -- */

p {
	width: 60%;
  	max-width: 720px;
  	margin: 30px auto;
  	font: 18px/1.6em 'TiemposTextWeb-Regular', Georgia, Times, serif;
  	color: $text-black;

  	a {
		color: $text-black;
		text-decoration: none;
		border-bottom: 2px solid $blue;
	}
}

.terminal p a {
	border-bottom: none;
}