/*------------ IMAGES STYLES ------------*/

.photo-info {
	border-bottom: 1px solid $light-gray;
}

figcaption, .caption {
	font-size: 0.7em;
	font-family: $NHaas;
	color: $text-black;
}

figcaption {
	margin-right: 0.325em;
	margin-top: 0.3em;
}

.caption {
	width: 90%;
	margin: -2em auto 2em;
	max-width: 1280px;
}

.credit {
	font-size: 0.6em;
	margin-top: 3px;
	margin-bottom: 10px;
	color: $medium-gray;
}

.img_full {
	width: 90%;
	max-width: 1280px;
	margin: 0 auto 3rem;
}

.img_left, .img_right {
	width: 38rem;
	max-width: 500px;
	margin-top: 0.5rem;
	margin-bottom: 0;
}

.img_left {
	float: left;
}

.img_right {
	float: right;
}

.img_parallax {
	height: 100vh;
	width: 100%;
	margin: 0;
}

.img_parallax + .photo-info {
	margin-left: 20px;
	margin-right: 20px;
}