$HaasBold: 'HaasDisplayBold', Helvetica, Arial, sans-serif;
$black: #000;
$white: #fff;


/*------------ LEDE STYLES ------------*/

#main {
	height:100%;
	overflow:visible;
	position:relative;
}

#footer {
	width: inherit;
}


/*------------ COMMON STYLES ------------*/

.lede-content {
	max-width: 700px;
	
	h1 {
		font-family: $HaasBold;
	}

	.dek {
		font: 30px/36px $HaasBold;
		padding: 0;
	}
}


/*--- LEDE W/ TEXT OVER & PARALLAX ---*/

.lede-text-overlay-parallax {
	background:transparent center no-repeat;
	background-size:cover;
	overflow: hidden;
	height: 100%;
	min-height: 600px;
	
	.lede-content {
		width: 80%;
		margin: 15% auto 30px 15%;
		
		h1 {
			color: $black;
			background-color: $white;
			display: inline;
		}

		.dek {
			line-height: 36px;
			display: inline;
			text-align: left;
			background-color: $white;
		}

		.byline-feat {
			font-family: $HaasBold;
			color: $black;
			margin: 5px 0;
			background-color: $white;
			display: inline;
		}
	}
}

/*--- LEDE W/ TEXT UNDER ---*/

.lede-text-under {
	width: 100%;
	padding: 0;

	.lede-content {
		margin: 30px auto 30px 15%;
	
		h1 {
			color: $black;
		}

		.dek {
			text-align: left;
			margin: 0;
		}

		.byline-feat {
			color: #767676;
			margin: 5px 0;
			font-size: 16px;
		}
	}
}


/*--- VIDEO LEDE ---*/

.lede-video {
	width: 100%;
	height: auto;
	position: relative;

	video {
		min-height: 100vh;
		min-width: 100%;
		margin-bottom: 30px;
	}

	.lede-content {
		width: 80%;
		margin: -40% auto 0 15%;
		position: absolute;
		z-index: 1;
		
		h1 {
			color: $black;
			background-color: $white;
			display: inline;
		}

		.dek {
			display: inline;
			text-align: left;
			background-color: $white;
		}

		.byline-feat {
			font-family: $HaasBold;
			color: $black;
			margin: 5px 0;
			background-color: $white;
			display: inline;
		}
	}

	.mobile-lede {
		display: none;
	}

}


/*--- LEDE W/CONTAINED IMAGE & TEXT OVERLAY ---*/

.lede-contained-img {
	background-image: url('http://placehold.it/2000x1200');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 6%;
	min-height: 700px;

	.lede-content {
	  max-width: 30%;
	  opacity: .8;

	  h1 {
		  font-family: $HaasBold;
		  font-size: 150px;
		  line-height: 120px;
		  color: $white;
		  font-weight: normal;
		  vertical-align: middle;
		  margin-left: -8px;
		}

		.dek {
		  font-family: $HaasBold;
		  font-size: 28px;
		  color: $white;
		  display: block;
		  text-align: left;
		  padding-bottom: 20px;
		}

		.byline-feat {
			font-family: $HaasBold;
			color: $white; 
			font-size:21px;
		}
	}
}

