/*------------ LEDE STYLES ------------*/

#main {
	height:100%;
	overflow:visible;
	position:relative;
}

#footer {
	width: inherit;
}

/*--- LEDE W/ TEXT OVER & PARALLAX ---*/

.lede-text-overlay-parallax {
	background:transparent center no-repeat;
	background-size:cover;
	overflow: hidden;
	height: 100%;
	min-height: 600px;
	
	.lede-content {
		width: 80%;
		max-width: 700px;
		margin: 15% auto 30px 15%;

		h1 {
			font-family: 'HaasDisplayBold', Helvetica, Arial, sans-serif;
			color: #000;
			background-color: #fff;
			display: inline;
		}

		.dek {
			font-family: 'HaasDisplayBold', Helvetica, Arial, sans-serif;
			font-size: 30px;
			line-height: 36px;
			display: inline;
			text-align: left;
			padding: 0;
			background-color: #fff;
		}

		.byline-feat {
			font-family: 'HaasDisplayBold', Helvetica, Arial, sans-serif;
			color: #000;
			margin: 5px 0;
			background-color: #fff;
			display: inline;
		}
	}

}

/*--- LEDE W/ TEXT UNDER ---*/

.lede-text-under {
	width: 100%;
	padding: 0;

	.lede-content {
		max-width: 700px;
		margin: 30px auto 30px 15%;

		h1 {
			font-family: 'HaasDisplayBold', Helvetica, Arial, sans-serif;
			color: #000;
		}

		.dek {
			font-family: 'HaasDisplayBold', Helvetica, Arial, sans-serif;
			font-size: 30px;
			line-height: 36px;
			text-align: left;
			padding: 0;
			margin: 0;
		}

		.byline-feat {
			color: #767676;
			margin: 5px 0;
			font-size: 16px;
		}
	}
}


/*--- VIDEO LEDE ---*/

.lede-video {
	width: 100%;

	video {
		min-height: 100vh;
		min-width: 100%;
		margin-bottom: 30px;
	}

	.lede-content {
		width: 80%;
		max-width: 700px;
		margin: -40% auto 0 15%;
		position: relative;
		z-index: 1;

		h1 {
			font-family: 'HaasDisplayBold', Helvetica, Arial, sans-serif;
			color: #000;
			background-color: #fff;
			display: inline;
		}

		.dek {
			font-family: 'HaasDisplayBold', Helvetica, Arial, sans-serif;
			font-size: 30px;
			line-height: 36px;
			display: inline;
			text-align: left;
			padding: 0;
			background-color: #fff;
		}

		.byline-feat {
			font-family: 'HaasDisplayBold', Helvetica, Arial, sans-serif;
			color: #000;
			margin: 5px 0;
			background-color: #fff;
			display: inline;
		}
	}

	.mobile-lede {
		display: none;
	}

}

