/*------------  QUOTE STYLES ------------*/

/*---  BLOCKQUOTE ---*/
blockquote {
	font-size: 0.9em;
	margin: 2em auto;
	padding: 2em;
	width: 70%;

	p {
		color: $medium-gray;

		&:last-of-type  {
			margin-bottom: 0;
		}
	}

	em {

	}
}



/*--- PULL QUOTE ---*/
.pullquotes {
	font: 2.2em/3.2rem $tiempos-bold;
	position: relative;
	width: 58%;
	max-width: 48rem;
	margin: 1.5em auto;
	color: $blue;
	padding: 1.25em 0;
	border-top: 1px solid rgba($black, 0.1);
	border-bottom: 1px solid rgba($black, 0.1);
	text-align: center;

	em {
		font-family: $tiempos-bold-italic;
	}
}